h1{
    color: teal;
}

h2{
    color:blue;
}
p strong{
    color:red
}
.destacado{
    color: orange;
}
a[href="#"]{
    color: red;
}
a[href="#"] em{
    color:blue;
}


p .especial{
    color: purple;
}

div {
    color:olive;
} 
table caption{
    color: blue;
}
table[summary], th, td{
    border: solid black 1px;
    border-collapse: collapse;
    padding: 5px;
}
thead tr .especial{
    color: orange;
}
tfoot tr th[scope]{
    color: red;
}
th[scope="row"].especial{
    color: orange;
}
th[scope="row"]{
    color: red;
}
td{
    color: green;
}
td strong{
    color: orange;
}
#adicional span[id="especial"]{
    color:fuchsia;
}

#adicional a[href="#"]{
    color:green
};